*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #000000;
    margin: 0px;
}

header {
    background-color: #00B9FF;
    color: white;
    padding: 5px;
}

main {
    background-color: white;
    overflow: hidden;
    padding: 25px;
}

div { 
    margin: 10px;
    padding: 10px;
    width: 600px;
    height: 350px;
    border: 5px solid #00B9FF;
    border-radius: 20px;
    text-align: center;
    float: left;
}

h1 {
  font-family: Dancing Script;
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: Imbue;
    background-color: #00B9FF;
    border-radius: 10px;
    
}

h3{
  font-family: Lora;
  background-color: #00B9FF;
  border-radius: 20px;
}

p{
  font-family: Lora;
}

img{
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin: 20px;
}

.lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.imbue-<uniquifier> {
  font-family: "Imbue", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}